/*----------------------------------------ESTILOS LOGIN----------------------------------------*/
#form_title{
  text-align: center;
  color: rgba(34,158,189,255);
}
#login_body{
  background-color: rgba(248,249,250,255);
  padding: 1%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#back_img{
  background: url(../img/login.png) no-repeat center top;
  background-size: contain;
  height: 60%;
  width: 100%;
}
#login_form{
  display: grid;
  grid-gap: 2%;
}
#SignIn{
  color: rgb(255, 255, 255);
  background-color: rgba(34,158,189,0.8);
  font-weight: bold;
}
/*----------------------------------------FIN ESTILOS LOGIN----------------------------------------*/
/*----------------------------------------ESTILOS NAV----------------------------------------*/
#buscar{
  gap: 10px;
}
#lupa{
  color: white;
  margin-right: 10px;
}
#infoUsuario{
  display: flex;
  gap: 10px;
  color: rgb(255, 255, 255);
}
#usertag{
  font-weight: bold;
}
#container-menu{
  position: relative;
  display: flex;
  gap: 10px;
}
#menu{
  list-style: none;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0px;
  background: rgba(52,59,64);
  width: 100%;
/* overflow: hidden; */
  height: 0;
  transition: all 0.1s;
  top: 30px;
  position: absolute;
  overflow: visible;
  opacity: 0;
  visibility: hidden;
}
.menu_link:hover{
  background: rgb(80, 90, 100);
}
#container-menu:hover #menu{
  opacity: 1;
  visibility: visible;
  height: max-content;
  width: max-content;
}
.menu_link{
  display: block;
  padding: 5px;
}
#SignOff{
  width: 100px;
  font-weight: 600;
}
/*----------------------------------------FIN ESTILOS NAV----------------------------------------*/
/*----------------------------------------ESTILOS PRODUCT INFO----------------------------------------*/

.mb{
  text-align: end;
}
#comentarios{
  margin-left: 5%;
  margin-right: 5%;
}
#nuevocomentario{
  margin-left: 5%;
  size: 50%;
}
#nuevocomentariotxt{
  align-items: stretch;
  border-radius: 10px;
}
#puntuación{
  margin-left: 1%;
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 250%;
}

#puntuación input[type = "radio"]{
  display:none;
}

#puntuación label:hover{
  color: rgb(38, 183, 219)
}
#puntuación label:hover ~ label{
  color: rgb(38, 183, 219);
}
#puntuación input[type = "radio"]:checked ~ label{
  color:rgb(38, 183, 219);}

#btnEnviarComentario{
  align-items: flex-end;
  width: 100%;
}

/*----------------------------------------FIN ESTILOS PRODUCT INFO----------------------------------------*/

.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: rgb(38, 183, 219);
}